body{
    margin: 0px;
    background-color: antiquewhite;
}
main{
    font-family: 'Poppins';
}
button{
    border: none;
    background-color: grey;
    color: whitesmoke;
    border-radius: 14px;
    padding: 6px;
    margin-left: 20px;
}
.no-deco{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
.navbar{
    background-color: darkolivegreen !important;
}
.navbar-brand{
    font-family: 'Playwrite GB S';
    font-size: 28px;
    font-style: italic;
}

.nav-item{
    background-color: darkolivegreen;
    margin: 0px;
    padding: 5px;
}
.hero{
    background-image: url(/images-promp/hero-trans.jpg);
    background-size: cover;
    height:91vh;
    width: 100vw;
    margin: auto;
}

.a-bar{
    color: whitesmoke;
    padding: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}
.a-bar:hover{
    color: rgb(219, 219, 219);
    transition: 0.5s;
}

.hero-text{
    font-weight: 300;
    font-size: 3.5vh;
    padding: 5vh;
    text-align: end;
    margin-left: auto;
    max-width: 800px;
}
h1{
    margin-top: 0px;
    font-weight: 700;
    font-size: 8vh;
}
.btn-hero{
    background-color: darkolivegreen;
    width: 240px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 24px;
    color: whitesmoke;
    margin-left: 0px;
}
h2{
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-weight: 300;
}
#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90vw;
    margin: auto;
}
.card-producto{
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 5%;
    width: 285px;
    height: 440px;
    padding: 20px;
    position: relative;
}
.detalles{
    display: none;
    margin-top: -255px;
    background-color: antiquewhite;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 10;
    height: fit-content;
}
.detalles p {
    margin: 0px;
}

h3{
    font-size: 22px;
    padding: 10px;
}
.img-producto{
    width: 245px;
    height: 245px;
    border-radius: 5%;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-detalles{
    background-color: antiquewhite;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    color: black;
    margin-left: 0px;
}
.btn-carrito{
    margin-top: 10px;
    background-color: darkolivegreen;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 18px;
    color: whitesmoke;
    margin-left: 0px;
}
.pro-aside{
    background-image: url(/images-promp/aside.jpg);
    color: whitesmoke;
    font-size: 30px;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.h-aside{
    font-size: 35px;
}
h5{
    font-size: 15px;
}
li{
    padding: 5px;
    width: max-content;
    list-style-type: none;
}
#cart-dropdown{
    padding: 10px;
}
#vaciarCarrito{
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    text-align: center;
    margin: 0px;
}
#vaciarCarrito:hover{
    background-color: rgb(201, 201, 201);
    color: black;
}
#continuarCompra{
    background-color: olivedrab;
    border-radius: 10px;
    text-align: center;
    margin: 0px;
}
#continuarCompra:hover{
    background-color: darkolivegreen;
}

.nav-link{
    font-size: 20px;
}
button:hover{
    background-color: rgb(54, 72, 24);
    transition-duration: 0.5s;
    cursor: pointer;
    color: whitesmoke;
}
#rese{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to bottom, antiquewhite, whitesmoke);
    padding-bottom: 50px;
}
.card-rese{
    background-color: whitesmoke;
    padding: 3vh;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 0px;
    margin: 15px;
}
.card-info-rese{
    display: flex;
    justify-content: space-between;
}
.text-rese{
    font-size: 24px;
    text-align: end;
}
.estrellas{
    color: goldenrod;
    font-size: 30px;
}
.perfil-pic{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 7px double darkolivegreen;
}
.p-rese{
    font-style: italic;
    font-weight: 200;
}
footer{
    background-color: whitesmoke;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    font-size: 20px;
    padding: 8vw;
    padding-top: 120px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-footer{
    font-family: 'Playwrite GB S';
    font-style: italic;
    color: black;
    text-decoration: none;
}
.foot{
    font-size:14px;
    color: grey;
}
.fa-brands{
    font-size: 40px;
    margin-right: 12px;
}
.fa-brands:hover{
    cursor: pointer;
    transition: 0.5s;
}
.fa-instagram:hover{
    background: linear-gradient(to bottom right, rgb(221, 42, 123), rgb(129, 52, 175), rgb(245, 133, 41), rgb(254, 218, 119));
    background-clip: text;
    color: transparent;
}
.fa-tiktok:hover{
    background: linear-gradient(to bottom, rgb(37, 244, 238), rgb(0, 0, 0), rgb(254, 44, 85));
    background-clip: text;
    color: transparent;
}
.fa-youtube:hover{
    color: rgb(255, 0, 0);
}

.totalCarrito{
    background-color: rgb(78, 78, 78);
    padding: 6px;
    border-radius: 10px;
}




fieldset{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    border: solid 3px gainsboro;
    border-radius: 15px;
}
form{
    background: linear-gradient(to bottom, antiquewhite, whitesmoke);
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 18px;
}
.input-perso{
    max-width: 400px;
    border: 0px;
    font-size: 18px;
    margin-bottom: 15px;
}
.input-mensaje{
    font-size: 18px;
    font-family: 'Poppins';
    border: 0px;
    max-height: 200px;
    width: 500px;
}
.input-suculentas{
    font-family: 'Poppins';
    font-size: 18px;
    border: 0px;
    margin-top: 15px;
    width: 250px;
}
legend{
    font-size: 14px;
    color: rgb(121, 121, 121);
}
.submit-btn{
    width: 200px;
    height: 80px;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: darkolivegreen;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 30px;
}
#mensaje-error{
    color: red;
}
.mt-5{
    padding: 20px;
}
.checkout-total{
    margin-top: 20px;
}

@media (max-width: 1000px){
    #rese {
        grid-template-columns: 1fr 1fr;
    }
    .card-producto{
        width: 200px;
        height: 370px;
        padding: 20px;
    }
    .img-producto{
        width: 200px;
        height: 200px;
    }
    figcaption{
        font-size: 15px;
    }
    .btn-hero{
        font-size: 14px;
        height: 50px;
        width: 160px;
    }

    h1{
        font-size: 48px;
    }
    .p-hero{
        font-size: 22px;
    }

    footer{
        font-size: 16px;
    }
    iframe{
        width: 250px;
        height: 300px;
    }
    .foot{
        font-size: 10px;
    }

    .img-producto{
        width: 160px;
        height: 160px;
    }
    .card-producto{
        height: 350px;
    }
    h3{
        font-size: 15px;
    }
    .btn-detalles{
        width: 150px;
    }
    .btn-carrito{
        width: 180px;
    }

    .h-aside{
        font-size: 25px;
    }
}

@media (max-width: 600px){
    
    #productos{
        flex-direction: column;
    }
    .card-producto{
        display: flex;
        width: 320px;
        height: 160px;
        padding: 5px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-producto{
        width: 130px;
        height: 150px;
    }
    figcaption{
        font-size: 12px;
        margin-left: 16px;
        width: 160px;
    }
    .btn-hero{
        font-size: 16px;
        height: 50px;
        width: 160px;
    }
    .h-aside{
        font-size: 30px;
    }
    .p-hero{
        font-size: 19px;
    }

    .pro-aside{
        align-items: center;
    }
    .h-aside{
        font-size: 20px;
    }

    footer{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    iframe{
        height: 250px;
        width: 300px;
    }
    .div-frame{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .a-bar{
        padding: 0px;
    }

    fieldset{
        width: 300px;
    }
    .input-mensaje{
        max-width: 270px; 
        height: 400px;
    }

    .btn-detalles{
        width: 120px;
    }
    .btn-carrito{
        width: 140px;
        font-size: 14px;
    }
    .detalles{
        margin-left: -50px;
        margin-top: -260px;
    }

}

@media (max-width: 500px){
    #rese{
        grid-template-columns: 1fr;
    }
    .perfil-pic{
        width: 100px;
        height: 100px;
    }
    .nombres{
        font-size: 16px;
    }
    .estrellas{
        font-size: 20px;
    }
    .p-rese{
        font-size: 14px;
    }
    h2{
        font-size: 30px;
    }

    h1{
        font-size: 32px;
    }
}

    h1{
        font-size: 32px;
    }
}
